---
http_interactions:
- request:
    method: post
    uri: https://fcm.googleapis.com/v1/projects/project_id/messages:send
    body:
      encoding: UTF-8
      string: '{"message":{"notification":{"title":"test","body":"message"},"token":"token"}}'
    headers:
      Authorization:
      - Bearer mock_access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "name": "projects/project_id/messages/0:1539859532406104%b949fa49b949fa49"
        }
  recorded_at: Thu, 18 Oct 2018 10:45:32 GMT
recorded_with: VCR 4.0.0
